<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-about">
        <!-- <a href="#" class="logo">Port<span>folio</span></a> -->
        <!-- <p>Modern and professional portfolio website built with Angular 18.</p> -->
         <a href="#" class="logo">Shadab <span>Iqubal</span></a>
         <p>Full Stack Developer with expertise in Angular, .NET Core, and modern web technologies.</p>
      </div>
      
      <div class="footer-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      
      <div class="footer-links">
        <!-- <h3>Services</h3>
        <ul>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">UI/UX Design</a></li>
          <li><a href="#">Mobile Apps</a></li>
          <li><a href="#">Consulting</a></li>
        </ul> -->

        <h3>Services</h3>
        <ul>
          <li><a href="#">Web Application Development</a></li>
          <li><a href="#">REST API Development</a></li>
          <li><a href="#">Mobile Apps</a></li>
          <li><a href="#">Real-time Apps with SignalR</a></li>
          <li><a href="#">Consulting & Training</a></li>
        </ul>

      </div>
      
      <div class="footer-newsletter">
        <h3>Newsletter</h3>
        <p>Subscribe to get updates on my latest projects.</p>
        
        <form class="newsletter-form">
          <input type="email" placeholder="Your Email">
          <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Shadab Iqubal. All rights reserved.</p>
      
      <div class="footer-social">
        <a href="https://github.com/Shadabiqubal" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/shadab-iqubal-49769a212" target="_blank"><i class="fab fa-linkedin"></i></a>
        <!-- <a href="#" target="_blank"><i class="fab fa-twitter"></i></a> -->
        <a href="https://www.instagram.com/iqbal.shadab?igsh=OXdmaHZ6eTdtaXRs" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>