<section class="projects" id="projects">
  <div class="container">
    <h2 class="section-title" data-aos="fade-up">My <span>Projects</span></h2>
    
    <div class="projects-filter" data-aos="fade-up">
      <button 
        *ngFor="let filter of filters" 
        [class.active]="activeFilter === filter.id"
        (click)="activeFilter = filter.id">
        {{ filter.label }}
      </button>
    </div>
    
    <div class="projects-grid">
      <div 
        class="project-card" 
        *ngFor="let project of filteredProjects"
        [attr.data-aos]="project.id % 2 === 0 ? 'fade-left' : 'fade-right'"
        [attr.data-aos-delay]="(project.id * 100) % 600">
        <div class="project-image">
          <img [src]="'assets/images/projects/' + project.image" [alt]="project.title">
          <div class="project-links">
            <a [href]="project.liveUrl" target="_blank" class="project-link">
              <i class="fas fa-external-link-alt"></i>
            </a>
            <a [href]="project.codeUrl" target="_blank" class="project-link">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        
        <div class="project-info">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          
          <div class="project-tags">
            <span *ngFor="let tag of project.tags">{{ tag }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>