<section class="experience" id="experience">
  <div class="container">
    <h2 class="section-title" data-aos="fade-up">Professional <span>Experience</span></h2>
    
    <div class="timeline">
      <div class="timeline-item" *ngFor="let exp of experiences" data-aos="fade-up">
        <div class="timeline-header">
          <h3>{{ exp.role }}</h3>
          <span class="company">{{ exp.company }}</span>
          <span class="duration">{{ exp.duration }}</span>
        </div>
        <div class="timeline-content">
          <ul>
            <li *ngFor="let responsibility of exp.responsibilities">{{ responsibility }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>